
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
    padding: 20px;
    align-items: center;
}

.cityname {
    font-size: 100px;
}

#name {
    color: #5317e6;
    background: #cef7f1ad;
    font-size: 30px;
    width: 50%;
    height: 50px;
    border-radius: 30px;
    border: none;
    text-align: center;
    outline: none;

}

#check-btn {
    color: #604cca;
    background: #ecafeb;
    border-radius: 25px;
    height: 40px;
    border: none;
    outline: none;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
    text-align: center;
    cursor: pointer;
}

#check-btn:hover {
    background: brown;
    color: white;
}

#temperature {
    font-size: 200px;
    color: #d0fbf3;
    font-weight: bold;
    background: #45508ea1;
}

.tempitem {
    font-size: 40px;
}

#temperature div span {
    font-size: 50px;

}

@media all and (max-width: 800px) {
    #name {
        font-size: 20px;
    }

    #check-btn {
        font-size: 20px;

    }

    #temperature {
        font-size: 100px;
    }

    .tempitem {
        font-size: 25px;
    }

    #temperature div span {
        font-size: 30px;

    }

    .cityname {
        font-size: 67px;
    }
}


@media all and (max-width: 500px) {
    #name {
        font-size: 20px;
        width: 100%;
    }

    #check-btn {
        font-size: 15px;
        width: 30%;
        height: 30px;

    }

    #temperature {
        font-size: 70px;
    }

    .tempitem {
        font-size: 20px;
    }

    #temperature div span {
        font-size: 25px;

    }

    .cityname {
        font-size: 40px;
    }
    footer{
    position: fixed;
    text-align: center;
    padding: 35px 5px 20px 5px;
    font-size: x-small;
    top:90%;
    right: 20%;


  }
}

footer{
    margin: auto;
    text-align: center;
    padding: 35px 5px 20px 5px;
    font-size: xx-small;
    font-weight: 100;
  }